@import "../../styles/colors.scss";
.navbar {
    background: linear-gradient(to right, #8300cd, #b800c4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-height: auto;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}