$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-title: rgb(38, 62, 90);

$Dark-Primary-Color:#303F9F;
$Light-Primary-Color:#C5CAE9;
$Primary-Color:#3F51B5;
$Text-Icons-Color:#FFFFFF;
$Accent-Color:#8Bc34A;
$Primary-Text-Color:#212121;
$Secondary-Text-Color:#757575;
$Divider-Color:#BDBDBD;