.container {
    width: 100%;
    padding: 15px;
    max-height: 100vh;
    background: linear-gradient(to right, #8300cd, #b800c4);
    &__box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 15px 15px 55px rgb(0 0 0);
        backdrop-filter: blur(14px);
        border-radius: 40px;
    }
    &__padding {
        margin: 0 auto;
        line-height: 210px;
        display: flex;
    }
    &__left{
        // display: none;
        width: 95%;
    }
    &__image {
        border-radius: 50%;
        max-width: 100%;
        width: 50%;
        margin: auto;
    }
    &__right {
        line-height: 26px;
        width: 90%;
    }
    &__padding-right {
        padding: 0 25px;
    }
}

//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .container {
        padding: 45px 65px;
        &__right {
            width: 80%;
        }
        &__left{
            width: 50%;
        }
    }
}

//web
@media screen and (min-width: 64em){
    .container{
        &__box{
            flex-direction: row;
        }
        padding: 45px 65px;
        &__left{
            display: inline;
            width: 50%;
        }
        &__right {
            width: 50%;
        }
        &__padding {
            width: 70%;
            height: 70%;
            border-radius: 50%;
            margin: 0 auto;
            line-height: 210px;
            position: relative;
        }
        &__image {
            border-radius: 50%;
            max-width: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }

    }
}